<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.tajchert.exceptionwear">

<application>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <service
        android:name="pl.tajchert.exceptionwear.ExceptionDataListenerService"
        tools:node="replace"  >
        <intent-filter>
            <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
            <data android:scheme="wear" android:host="*" android:pathPrefix="/exceptionwear/wear_error" />
        </intent-filter>
    </service>

    <service
        android:name="pl.tajchert.exceptionwear.ExceptionService"
        android:process=":error"
        tools:node="replace"/>

</application>

</manifest>
